<section class="header">
    <nav class="header__navigation">
        <a href="/" class="header__logo-link">
            <img src="../../img/logos/page-logo.svg" alt="logo">
            <div class="header__logo-link-title">
                <p class="header__logo-link-title">Dianne</p>
                <p class="header__logo-link-title">Studio<span>®</span></p>
            </div>
        </a>
        <div class="header__menu-wrapper">
            <p>MENU</p>
            <input type="checkbox">
        </div>
    </nav>
</section>